<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Rest Assured API Automation Project">
    <listeners>
        <listener class-name="com.sample.listeners.Listeners" />
    </listeners>
    <test name="EmployeesRestAPITest">
        <classes>
            <class name="com.sample.testCases.TC001_Get_All_Employee" />
            <class name="com.sample.testCases.TC002_Get_Single_Employee" />
            <class name="com.sample.testCases.TC003_Post_Create_Employee" />
            <class name="com.sample.testCases.TC004_Put_Update_Employee" />
            <class name="com.sample.testCases.TC005_Delete_Employee_Record" />

        </classes>
    </test>
</suite>